<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- REQUIRED PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TamilTranslator"
        tools:targetApi="31">

        <!-- LAUNCHER ACTIVITY -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OTHER ACTIVITIES -->
        <activity android:name=".OnboardingActivity" />
        <activity android:name=".ReadyActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".VerifyEmailActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".TextTranslationActivity" />
        <activity android:name=".VoiceTranslationActivity" />
        <activity android:name=".CameraTranslationActivity" />
        <activity android:name=".DocumentTranslationActivity" />
        <activity android:name=".OfflineModeActivity" />

        <!-- AI ASSIST (SAFE ADD) -->
        <activity
            android:name=".aiassistactivity"
            android:exported="false" />

        <activity android:name=".ProfileActivity" />
        <activity android:name=".AiGrammarActivity"
            android:exported="false"/>

        <!-- FILE PROVIDER -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        android:exported="true" />
        <activity android:name=".DailyVocabularyActivity"
            android:exported="true" />
        <activity android:name=".QuizActivity"
            android:exported="true" />
        <activity android:name=".QuizResultActivity"
            android:exported="true" />
        <activity android:name=".QuickTranslateActivity"
            android:exported="true" />
        <activity android:name=".AIChatActivity"
            android:exported="true" />
    </application>

</manifest>
